{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="auth option2">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <a class="header-brand" href="{{ path('home')}}"><i class="fa fa-graduation-cap brand-logo"></i></a>
                    <div class="card-title">Forgot password</div>
                </div>
            {{ form_start(requestForm) }}

                <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                <div class="form-group">
                    <label class="form-label" for="exampleInputEmail1">Email address</label>
                            {{ form_widget(requestForm.email, {'attr':{'class':'form-control','id':'exampleInputEmail1','placeholder':'Votre Email' }}) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Send password reset email </button>
                    <div class="text-muted mt-4">Forget it, <a href="{{ path('app_login')}}">Send me Back</a> to the Sign in screen.</div>
                </div>

            {{ form_end(requestForm) }}
            </div>
        </div>        
    </div>
</div>

{% endblock %}